@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">V7 Webapp</h1>
    <p>for checking how the app is used</p>
</div>


<div class="card-columns">
    @foreach (var user in Model.Users)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@user.Name</h5>
            </div>
        </div>
    }
</div>
