@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">V7 Webapp</h1>
    <p>for checking how the app is used</p>
</div>

@foreach (var user in Model.Users)
{
    <h2>@user.Name</h2>
}
